<div class="container mt-5">
    <h4>Internal server error - refreshing the page make the exception disappear</h4>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.Message}}</h5>
        <p class="font-weight-bold">
            Note: if you are seeing this then Angular is probably not responsible
        </p>
        <p>What to do next</p>
        <ol>
            <li>Open chrome dev tools</li>
            <li>Inslect the network tab</li>
            <li>Check the failing request</li>
            <li>Reproduce the error in postman</li>
        </ol>
        <p>
            Following is the stack trace:
        </p>
        <code class="mt-5" style="background-color: whitesmoke;">{{error.Details}}</code>
    </ng-container>
</div>
